/* 修改默认 Label 样式 */
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #e6e6e6;
    -fx-padding: 0px 20px; /* 内边距留空 */
}
.root {
    -fx-background-color: #121212;
    -fx-text-fill: #f0f0f0;
}

/* 修改默认 Button 样式 */
.button {
    -fx-background-color: linear-gradient(#333333, #111111); /* 按钮颜色改为黑色，并增加立体感 */
    -fx-text-fill: #ffcc00; /* 文字颜色改为金色 */
    -fx-font-size: 11px; /* 字体改小 2 个字号 */
    -fx-padding: 8px 16px;
    -fx-border-radius: 9px; /* 圆角 */
    -fx-background-radius: 9px; /* 圆角 */
    -fx-border-color: #538ad1; /* 边框颜色与背景颜色相同 */
    -fx-cursor: hand;
    -fx-alignment: center; /* 尝试使按钮内容居中 */
    -fx-display: inline-block; /* 增加这行以确保居中生效 */
}

/* 鼠标悬停在 Button 上的样式 */
.button:hover {
    -fx-background-color: linear-gradient(#444444, #222222); /* 鼠标悬停时颜色变深，并增加立体感 */
    -fx-border-color: #ffcc00;
}
